#canvas {
    background: black;
    display: block;
    /* margin:20px; */
    /* border:1px solid black; */
}

#headerCanvas {
    background: black;
    display: block;
    /* z-index:1; */
    /* border:1px solid black;     */
    /* position: absolute; 
     */
}

#container {
    width: 610px;
    height: 630px;
    /* position: relative; */
    align-items: center;

}

